.navigation ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
.navigation .right {
  float: right; }
.navigation li {
  float: left; }
  .navigation li a {
    display: block;
    padding: 14px 16px;
    color: #FFFDEF;
    text-decoration: none; }
    .navigation li a:hover:not(.user) {
      color: pink;
      background-color: grey; }

.avatar #options {
  text-align: left; }
  .avatar #options button {
    width: 150px; }
.avatar #profile_pic_box {
  border: #999 2px solid;
  width: 250px;
  height: 250px;
  float: left; }
  .avatar #profile_pic_box img {
    position: absolute;
    left: 10;
    width: 246px;
    height: 246px; }
  .avatar #profile_pic_box a {
    display: block;
    position: absolute;
    z-index: 4000;
    background: #D8F08E;
    border: #81A332 1px solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #60750B; }
  .avatar #profile_pic_box form {
    display: none;
    position: absolute;
    z-index: 3000;
    padding: 10px;
    opacity: .8;
    background: #F0FEC2;
    width: 246px;
    height: 246px;
    left: 10;
    color: black;
    overflow-x: hidden; }

#photoBanner {
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888888;
  height: 350px;
  background-color: #FFFDEF; }
  #photoBanner .mySlides {
    height: 250px;
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 5px; }
  #photoBanner #rightBtn:hover, #photoBanner #leftBtn:hover {
    cursor: pointer; }

.asset {
  height: 300px;
  border-radius: 5px;
  background-color: #FFFDEF;
  box-shadow: 1px 1px 5px #888888;
  overflow-y: hidden; }

#posts, #reviews {
  overflow-y: auto; }
  #posts .profilePost, #reviews .profilePost {
    border: #182840 1.5px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888888;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    width: 325px;
    text-align: center; }
    #posts .profilePost:hover, #reviews .profilePost:hover {
      color: blue;
      background-color: #ddd;
      cursor: pointer; }

.loginBox {
  position: fixed;
  float: right;
  background-color: rgba(155, 155, 255, 0.5);
  right: 0;
  border: #999 2px solid;
  text-align: right; }
  .loginBox h5 {
    text-align: center; }

.aboutRight {
  border: #999 2px solid;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 5px;
  height: 360px;
  padding: 8px; }
  .aboutRight p {
    text-align: center;
    padding: 5px; }
  .aboutRight img {
    height: 340px;
    width: 400px;
    border-radius: 5px; }
  .aboutRight img {
    float: Right; }

.aboutLeft {
  border: #999 2px solid;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 5px;
  height: 360px;
  padding: 8px; }
  .aboutLeft p {
    text-align: center;
    padding: 5px; }
  .aboutLeft img {
    height: 340px;
    width: 400px;
    border-radius: 5px; }
  .aboutLeft img {
    float: Left; }

#signupform {
  margin-top: 24px; }
  #signupform div {
    margin-top: 12px; }
  #signupform input, #signupform select {
    width: 200px;
    padding: 3px;
    background: #F3F9DD; }

#signupbtn {
  font-size: 18px;
  padding: 12px; }

#terms {
  border: #CCC 1px solid;
  background: #F5F5F5;
  padding: 12px; }

#notesBox, #friendReqBox {
  background-color: #FFFDEF;
  border: #6F7E7F 2.5px solid;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  padding: 10px;
  height: 800px;
  overflow-y: auto; }

div.friendrequests {
  height: 74px;
  margin-bottom: 8px; }

img.user_pic {
  float: left;
  width: 68px;
  height: 68px;
  margin-right: 8px; }

div.user_info {
  float: left;
  font-size: 14px; }

h4 {
  text-align: center; }

.convoList, .convoContent {
  box-shadow: 0px 5px 5px #888888;
  background-color: #FFFDEF;
  border: inset;
  border-radius: 5px; }
  .convoList #startConvo, .convoContent #startConvo {
    margin: auto;
    width: 100%;
    border-style: inset;
    border-radius: 5px; }
  .convoList #talks, .convoContent #talks {
    width: 150px;
    height: 60px;
    background-color: #FFF;
    margin-bottom: 8px;
    text-align: center;
    border: #182840 1.5px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888888;
    padding: 4px 4px; }
    .convoList #talks .talk_pic, .convoContent #talks .talk_pic {
      float: left;
      width: 55px;
      height: 50px;
      margin-right: 8px;
      border-radius: 5px; }
    .convoList #talks .talkData, .convoContent #talks .talkData {
      float: left; }

.convoContent {
  box-shadow: 5px 5px 5px #888888; }
  .convoContent #messageBox {
    width: 100%;
    height: 100%;
    margin: auto; }
    .convoContent #messageBox #conversationHead {
      margin: auto;
      text-align: center;
      font-size: 20px;
      font-weight: normal; }
    .convoContent #messageBox #appearMessage {
      height: 480px;
      width: 100%;
      background-color: #FFF;
      overflow-y: auto;
      margin: auto;
      border-style: inset;
      border-radius: 5px; }
      .convoContent #messageBox #appearMessage .msg {
        margin: 10px 10px;
        background-color: #6778FF;
        max-width: calc(45% - 20px);
        color: #FFF;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px; }
      .convoContent #messageBox #appearMessage .msgfrom {
        background-color: #6CE559;
        color: #FFF;
        margin: 10px 10px 10px 55%;
        border-radius: 5px; }
      .convoContent #messageBox #appearMessage .msgarr {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #6778FF;
        transform: rotate(315deg);
        margin: -12px 0px 0px 45px; }
      .convoContent #messageBox #appearMessage .msgarrfrom {
        border-bottom: 8px solid #6CE559;
        float: right;
        margin-right: 45px; }
      .convoContent #messageBox #appearMessage .msgsentby {
        color: #8C8C8C;
        font-size: 12px;
        margin: 4px 0px 0px 10px; }
      .convoContent #messageBox #appearMessage .msgsentbyfrom {
        float: right;
        margin-right: 12px; }
  .convoContent #inputBox {
    width: 100%;
    height: 50px;
    margin: auto;
    border-top: 1px solid #CCC; }
    .convoContent #inputBox #messageInput {
      padding: 3px;
      width: 100%;
      font-size: 14px;
      margin: auto;
      outline: none;
      border-radius: 5px; }

#criteria {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px; }
  #criteria #searchBar {
    border-radius: 5px; }
  #criteria #checks {
    text-align: right; }

#results {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  overflow-y: auto; }
  #results #closePosts {
    border-radius: 5px;
    height: 400px;
    overflow-y: scroll; }
    #results #closePosts .showingPost {
      border: #182840 1.5px solid;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #888888;
      background-color: white;
      padding-left: 5px;
      padding-right: 5px;
      width: 735px; }
      #results #closePosts .showingPost:hover {
        color: blue;
        background-color: #ddd;
        cursor: pointer; }

#map {
  height: 400px;
  width: 500px;
  margin: 0 auto;
  border: #999 2px solid;
  border-radius: 5px; }

body {
  margin: 0; }
  body h1, body h2, body h3 {
    text-align: center; }

/*# sourceMappingURL=master.css.map */
