#notesBox
{
  background-color: #FFFDEF;
  border:#6F7E7F 2.5px solid;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  padding:10px;
  height: 800px;
  overflow-y: auto;
}
#friendReqBox
{
  @extend #notesBox;
}
div.friendrequests
{
  height:74px;
  margin-bottom:8px;
}
img.user_pic
{
  float:left;
  width:68px;
  height:68px;
  margin-right:8px;
}
div.friend_info
{
  float:left;
  font-size:14px;
}
